# Khám phá dữ liệu

Notebook này để khám phá dữ liệu.

## Import những thư viện cần thiết

In [2]:
import numpy as np
import pandas as pd

## Đọc dữ liệu từ file

File dữ liệu của đồ án sau bước thu thập dữ liệu đang nằm tại địa chỉ '../thu_thap_du_lieu/animal_crawler/animal_info.csv'. Ta sẽ tiến hành đọc dữ liệu đã thu thập và lưu vào DataFrame `animal_df`

In [3]:
animal_df = pd.read_csv('../thu_thap_du_lieu/animal_crawler/animals_info.csv')

Hiển thị 5 dòng đầu tiên trong dữ liệu để xem thử đã đọc đúng hay chưa

In [8]:
animal_df.head(5)

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,...,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,...,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","{'Geography': {'Continents': 'Asia, Europe, No...","{'Group name': 'pack, route, rout', 'Lifestyle...","Carnivore,,Scavenger","{'Mating behavior': 'Monogamy', 'Reproduction ...","{'Population trend': 'Stable', 'Population sta..."
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,...,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...","{'Geography': {'Continents': 'Asia', 'Subconti...","{'Lifestyle': 'Cursorial, Terrestrial, Ambush ...",Carnivore,"{'Mating behavior': 'Polygyny', 'Reproduction ...","{'Population trend': 'Decreasing', 'Population..."
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,...,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","{'Geography': {'Continents': 'Asia, Europe, No...","{'Group name': 'sloth, sleuth', 'Lifestyle': '...",Omnivore,"{'Mating behavior': 'Polygynandry,', 'Reproduc...","{'Population trend': 'Stable', 'Population sta..."
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,...,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","{'Geography': {'Continents': 'Africa, South Am...","{'Group name': 'pod, gam, herd, school, mod', ...","Carnivore,,Piscivores","{'Mating behavior': 'Monogamy', 'Reproduction ...","{'Population trend': 'Increasing', 'Population..."
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,...,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","{'Geography': {'Continents': 'Africa, Oceania,...","{'Group name': 'pod, gam, herd, school, mod', ...",Carnivore,"{'Mating behavior': 'Polygynandry', 'Reproduct...",{'Population status': 'Data deficient (DD)'}

Xem xét dữ liệu trên thì thấy một số dòng bị lỗi, cần loại bỏ.
Cụ thể ở đây là thu thập dữ liệu về thú nhưng có một số dòng có giá trị cột 'Kingdom' không phải là 'Animalia'. Ở đây ta sẽ xóa luôn những dòng như thế, vì dữ liệu khá lớn nên xóa bớt một vài dòng có lẽ sẽ không có ảnh hưởng nhiều.

In [9]:
animal_df = animal_df[animal_df['Kingdom'] == 'Animalia']

## Dữ liệu có bao nhiêu dòng, bao nhiêu cột?

In [10]:
animal_df.shape

(28525, 22)

## Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng cho chúng ta biết các thông tin về một con vật, tất cả các dòng đều có cùng ý nghĩa như nhau.

## Dữ liệu có các dòng bị lặp không?

Chúng ta sử dụng hàm 'duplicated' trong pandas để kiểm tra dòng đó có phải bị lặp trong DataFrame hay không. Nếu kết quả là dòng đó bị lặp sẽ trả về giá trị 1, ngược lại sẽ là 0. Kế tiếp chúng ta sử dùng hàm 'sum' để tính tất cả giá trị trả về của hàm 'duplicated'. Nếu kết quả > 0 thì chứng tỏ có tồn tại dòng bị lặp.

In [11]:
animal_df.duplicated().sum()

0

Vậy là dữ liệu của chúng ta không tồn lại dòng nào bị lặp lại.

## Mỗi cột có ý nghĩa gì?

Sau khi thu thập dữ liệu xong, nhóm em đã tự phân tích ý nghĩa của mỗi trong file dữ liệu vừa thu thập, sau đó viết vào file `col_meaning.xlsx`. Đọc file excel này để biết được ý nghĩa của mỗi cột.

In [12]:
xlsx = pd.ExcelFile('col_meaning.xlsx')
col_meaning_df =pd.read_excel(xlsx,"Sheet1")
pd.set_option('display.max_colwidth', 0)
col_meaning_df

,Column,Description
0,Name,Name of Animal
1,Kingdom,Giới là đơn vị phân loại lớn nhất bao gồm các ngành sinh vật có chung những đặc điểm nhất định.
2,Phylum,Ngành: Một đơn vị phân loại ở cấp dưới giới và trên lớp.
3,Subphylum,Phân Ngành: là một bậc phân loại nằm trung gian giữa ngành và lớp hoặc phân thứ ngành hoặc liên lớp
4,Class,Lớp: Một mức độ phân loại động vật trong một ngành. Các lớp sau đó được chia nhỏ thành các nhóm khác được gọi là bộ
5,Order,Bộ: là một cấp nằm giữa lớp và họ.
6,Suborder,"Phân bộ: một nhóm thực vật hoặc động vật có liên quan, có quan hệ gần gũi hơn so với một bộ nhưng ít giống nhau hơn so với một họ."
7,Family,"Họ: Bộ được chia thành các họ, họ sẽ được chia thành các chi"
8,Genus,Chi: còn gọi là giống là một đơn vị phân loại sinh học dùng để chỉ một hoặc một nhóm loài có kiểu hình tương tự và mối quan hệ tiến hóa gần gũi với nhau.
9,Species,Loài: là một nhóm các cá thể sinh vật có những đặc điểm sinh học tương đối giống nhau và có khả năng giao phối với nhau và sinh sản ra thế hệ tương lai.
10,Population size,Ước tính số cá thể đang sống của loài
11,Life span,Tuổi thọ
12,Top speed,Tốc độ
13,Weight,Cân nặng
14,Height,Chiều cao
15,Length,Chiều dài
16,Attributes,Một số thông tin chính về loài vật
17,Distribution,Phân bổ: Nơi sinh sống
18,Habits,Thói quen
19,Diet,"Chế độ ăn (ăn cỏ, ăn tạp,…)"
20,Mating_Habits,Thói quen giao phối
21,Population,"Bao gồm xu hướng dân số (tăng, giảm, ổn định) và trạng thái dân số (nguy cấp, bị đe dọa, ít quan tâm,…)"

## Các cột lúc này đang có kiểu dữ liệu gì?

In [13]:
animal_df.dtypes

Name               object
Kingdom            object
Phylum             object
Subphylum          object
Class              object
Order              object
Suborder           object
Family             object
Genus              object
Species            object
Population size    object
Life span          object
Top speed          object
Weight             object
Height             object
Length             object
Attributes         object
Distribution       object
Habits             object
Diet               object
Mating_Habits      object
Population         object
dtype: object

## Tính xem tình trạng của mỗi cột dữ liệu hiện tại như thế nào?

### Với mỗi cột ta sẽ tính:
- Tỉ lệ mất mát: missing_ratio
- Số lượng giá trị khác nhau: num_values
- Số lần xuất hiện của từng giá trị: value

Viết hàm "col_info" để tính và lưu kết quả vào mảng "cat_col_info_df"

In [14]:
def col_info(col, array):
    temp = pd.DataFrame(array[col])
    temp = temp.dropna()
    temp = np.array(temp[col])
    data = []
    # missing_ratio
    data.append(round((100 - (len(temp) / len(array[col]) * 100)), 1))
    # num_values
    temp = np.unique(temp, return_counts=True)
    data.append(len(temp[0]))
    # value
    temp = pd.Series(data = temp[1], index = temp[0])
    data.append(temp)
    # num_values
    return data

In [15]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in animal_df.columns:
    if animal_df[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, animal_df)

cat_col_info_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,...,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
missing_ratio,0.0,0.0,0.0,64.4,0.0,1.5,91.0,0.0,0.0,0.0,...,98.0,90.0,98.9,89.7,0.0,0.0,0.0,90.9,0.0,0.0
num_values,28525,1,2,1,10,118,13,840,6127,28523,...,124,2232,245,2101,3078,8335,2143,308,2682,40
value,"? Nycticebus linglom 1 AEECL's sportive lemur 1 Aaadonta angaurana 1 Aaadonta constricta 1 Aaadonta fuscozonata 1 .. ʻAkohekohe 1 ʻAnianiau 1 ʻApapane 1 ʻEua rail 1 ʻIʻiwi 1 Length: 28525, dtype: int64",Animalia 28525 dtype: int64,Chordata 23659 Mollusca 4866 dtype: int64,Vertebrata 10152 dtype: int64,Amphibia 3393 Aves 10114 Bivalvia 515 Cephalopoda 336 Gastropoda 3991 Mammalia 5879 Polyplacophora 10 Reptilia 4273 Scaphopoda 13 Solenogastres 1 dtype: int64,"Accipitriformes 255 Adapedonta 10 Aegotheliformes 11 Afrosoricida 56 Anomalodesmata 18 .. Trogoniformes 41 Tubulidentata 2 Unionoida 217 Vampyromorphida 1 Venerida 89 Length: 118, dtype: int64",Alcedini 109 Caniformia 192 Cryptodira 212 Feliformia 100 Haplorhini 271 Iguania 324 Lari 1 Macropodiformes 2 Phalangerida 2 Pleurodira 43 Ruminantia 54 Serpentes 1132 Strepsirrhini 122 dtype: int64,"Abrocomidae 10 Abronicidae 2 Acanthisittidae 2 Acanthizidae 59 Acanthochitonidae 3 .. Zebinidae 7 Zeledoniidae 1 Ziphiidae 21 Zonitidae 1 Zosteropidae 124 Length: 840, dtype: int64","Aaadonta 6 Abditomys 1 Abeillia 1 Abeomelomys 1 Ablepharus 9 .. Zosterornis 5 Zygaspis 8 Zygodontomys 2 Zygogeomys 1 Zyzomys 5 Length: 6127, dtype: int64","""Calamita"" melanorabdotus 1 ""Calamita"" quadrilineatus 1 ""Centrolene"" acanthidiocephalum 1 ""Centrolene"" azulae 1 ""Centrolene"" guanacarum 1 .. Zyzomys argurus 1 Zyzomys maini 1 Zyzomys palatalis 1 Zyzomys pedunculatus 1 Zyzomys woodwardi 1 Length: 28523, dtype: int64",...,"0.24 km/h 1 0.26 km/h 1 0.27 km/h 1 0.5 km/h 4 10 km/h 5 .. 93 km/h 1 95 km/h 2 96 km/h 4 96.6 km/h 2 98 km/h 1 Length: 124, dtype: int64","0-0 kg 3 0.010-0.796 g 1 0.02-22.5 kg 2 0.030-0.067 kg 1 0.056-1.65 kg 1 .. up to 50 g 1 up to 50 kg 1 up to 6 kg 1 up to 7kg 1 up to 9 kg 1 Length: 2232, dtype: int64","0.5 m 1 0.7-1.3 m 1 0.75-1 m 2 0.8-1.5 m 1 0.9 m 1 .. 95-130 cm 1 97-140 cm 1 99-125 cm 1 over 1 m 1 up to 80 cm 1 Length: 245, dtype: int64","0.5 m 2 0.5-1.8 m 1 0.6-2.43 m 1 0.60-0.76 m 1 0.7-1.2 m 1 .. up to 60 cm 2 up to 65 cm 1 up to 70 cm 1 up to 80 cm 1 up to 99 cm 1 Length: 2101, dtype: int64","Algivore,Detritivore,Herbivore,Fossorial,Polygynandry,Polygamy,Not a migrant,starts with 1 Algivore,Detritivore,Herbivore,Polygynandry,Polygamy,Colonial,Not a migrant,starts with 1 Algivore,Detritivore,Herbivore,Polygynandry,Polygamy,Solitary,Not a migrant,starts with 1 Algivore,Herbivore,Planktivore,Not a migrant,starts with 2 Algivore,Herbivore,Planktivore,Polygynandry,Polygamy,Solitary,Not a migrant,starts with 1 .. Terrestrial,Viviparous,Arboreal,Altricial,starts with 1 Terrestrial,Viviparous,starts with 1 Terrestrial,starts with 8099 Zoochory,Terrestrial,Monogamy,Not a migrant,starts with 1 starts with 6503 Length: 3078, dtype: int64","{'Geography': {'Biogeographical realms': 'Australasian'}, 'Biome': ['Forest', 'Intertidal zone', 'Rocky areas ', 'Shrubland', 'Coastal', 'Marine'], 'Climate': []} 1 {'Geography': {'Biogeographical realms': 'Australasian, Afrotropical, Nearctic, Neotropical, Indomalayan, Palearctic'}, 'Biome': ['Agricultural', 'Anthropogenic biome'], 'Climate': ['Temperate', 'Cold', 'Tropical']} 1 {'Geography': {'Biogeographical realms': 'Australasian, Afrotropical, Nearctic, Neotropical, Indomalayan, Palearctic'}, 'Biome': ['Agricultural', 'Anthropogenic biome'], 'Climate': ['Tropical', 'Arid', 'Temperate', 'Cold']} 1 {'Geography': {'Biogeographical realms': 'Australasian, Nearctic, Neotropical, Palearctic'}, 'Biome': ['Agricultural', 'Anthropogenic biome', 'Mountains'], 'Climate': ['Arid', 'Temperate']} 1 {'Geography': {'Biogeographical realms': 'Indomalayan'}, 'Biome': ['Agricultural', 'Anthropogenic biome', 'Forest', 'Grassland', 'Savanna'], 'Climate': ['Tropical']} 1 .. {'Geography': {}, 'Biome': ['Shrubland', 'Wetlands '], 'Climate': []} 1 {'Geography': {}, 'Biome': ['Shrubland'], 'Climate': []} 3 {'Geography': {}, 'Biome': ['Wetlands '], 'Climate': []} 2 {'Geography': {}, 'Biome': [], 'Climate': ['Tropical']} 1 {'Geography': {}, 'Biome': [], 'Climate': []} 2226 Length: 8335, dtype: int64","{'Group name': '""bind"", contradiction, fling, hill, ""time-step""', 'Lifestyle': 'Terrestrial, Wading birds, Precocial, Territorial, Congregatory,', 'Seasonal behavior': 'Migrating', ""Bird's call"": 'Your browser does not support the audio element.'} 1 {'Group name': '""little house"", pack', 'Lifestyle': 'Terrestrial, Arboreal, Precocial, Zoochory,', 'Seasonal behavior': 'Not a migrant', ""Bird's call"": 'Your browser does not support the audio element.'} 1 {'Group name': '""little house"", pack', 'Lifestyle': 'Terrestrial, Precocial, Oviparous, Territorial', 'Seasonal behavior': 'Not a migrant', ""Bird's call"": 'Your browser does not support the audio element.'} 1 {'Group name': 'a development', 'Lifestyle': 'Arboreal, Terrestrial, Altricial, Zoochory, Oviparous', 'Seasonal behavior': 'Partial Migrant', ""Bird's call"": 'Your browser does not support the audio element.'} 1 {'Group name': 'a drift', 'Lifestyle': 'Terrestrial, Altricial, Territorial,', 'Seasonal behavior': 'Migrating', ""Bird's call"": 'Your browser does not support the audio element.'} 1 .. {'Seasonal behavior': ''} 8 {'Seasonal behavior': 'Migrating'} 3 {'Seasonal behavior': 'Not a migrant'} 24 {'Seasonal behavior': 'Partial Migrant'} 1 {} 18208 Length: 2143, dtype: int64","Algivore,,Detritivore,,Herbivore 3 Algivore,,Detritivore,,Herbivore,,Planktivore 1 Algivore,,Folivore,,Granivore,,Herbivore,,Lignivore 1 Algivore,,Granivore,,Herbivore 1 Algivore,,Herbivore 1 .. Scavenger 3 Scavenger,,Carnivore 2 Scavenger,,Hypercarnivore 1 Scavenger,,Omnivore 1 Vermivorous,,Carnivore 1 Length: 308, dtype: int64","{'Baby carrying': '1 baby'} 1 {'Baby carrying': '1 calf', 'Female name': 'cow', 'Male name': 'bull', 'Baby name': 'calf'} 2 {'Baby carrying': '1 infant', 'Female name': 'female', 'Male name': 'male', 'Baby name': 'infant'} 1 {'Baby carrying': '1 pup', 'Baby name': 'pup'} 1 {'Baby carrying': '1 pup', 'Female name': 'female', 'Male name': 'male', 'Baby name': 'pup'} 1 .. {'Reproduction season': 'year-round, with peak in August-September', 'Baby carrying': '2-4 pups', 'Baby name': 'pup'} 1 {'Reproduction season': 'year-round, with the peak in spring', 'Pregnancy duration': '59-72 days', 'Baby carrying': '3 pups', 'Independent age': '14-21 days', 'Female name': 'sow', 'Male name': 'boar', 'Baby name': 'pup, piglet'} 1 {'Reproduction season': 'year-round; peaks: July-December, January-February', 'Pregnancy duration': '23-24 days', 'Baby carrying': '2-4 pups', 'Independent age': '3-4 weeks', 'Female name': 'doe', 'Male name': 'buck', 'Baby name': 'pup, pinkie, kit'} 1 {'Reproduction season': 'year-round; usually early spring and autumn', 'Pregnancy duration': '23-30 days', 'Baby carrying': '7 pups', 'Independent age': '20-25 days', 'Female name': 'doe', 'Male name': 'buck', 'Baby name': 'pup, pinkie, kit'} 1 {} 25469 Length: 2682, dtype: int64","{'Population status': 'Critically endangered (CR)'} 54 {'Population status': 'Data deficient (DD)'} 102 {'Population status': 'Endangered (EN)'} 60 {'Population status': 'Extinct (EX)'} 160 {'Population status': 'Extinct in the wild (EW)'} 11 {'Population status': 'Least concern (LC)'} 274 {'Population status': 'Near Threatened (NT)'} 61 {'Population status': 'Not evaluated (NE)'} 54 {'Population status': 'Vulnerable (VU)'} 73 {'Population trend': 'Decreasing', 'Population status': 'Critically endangered (CR)'} 672 {'Population trend': 'Decreasing', 'Population status': 'Data deficient (DD)'} 112 {'Population trend': 'Decreasing', 'Population status': 'Endangered (EN)'} 1314 {'Population trend': 'Decreasing', 'Population status': 'Extinct in the wild (EW)'} 1 {'Population trend': 'Decreasing', 'Population status': 'Least concern (LC)'} 3741 {'Population trend': 'Decreasing', 'Population status': 'Near Threatened (NT)'} 1172 {'Population trend': 'Decreasing', 'Population status': 'Not evaluated (NE)'} 5 {'Population trend': 'Decreasing', 'Population status': 'Vulnerable (VU)'} 1361 {'Population trend': 'Decreasing'} 3 {'Population trend': 'Increasing', 'Population status': 'Critically endangered (CR)'} 23 {'Population trend': 'Increasing', 'Population status': 'Data deficient (DD)'} 1 {'Population trend': 'Increasing', 'Population status': 'Endangered (EN)'} 25 {'Population trend': 'Increasing', 'Population status': 'Least concern (LC)'} 654 {'Population trend': 'Increasing', 'Population status': 'Near Threatened (NT)'} 31 {'Population trend': 'Increasing', 'Population status': 'Not evaluated (NE)'} 2 {'Population trend': 'Increasing', 'Population status': 'Vulnerable (VU)'} 46 {'Population trend': 'Stable', 'Population status': 'Critically endangered (CR)'} 33 {'Population trend': 'Stable', 'Population status': 'Data deficient (DD)'} 24 {'Population trend': 'Stable', 'Population status': 'Endangered (EN)'} 58 {'Population trend': 'Stable', 'Population status': 'Extinct (EX)'} 1 {'Population trend': 'Stable', 'Population status': 'Least concern (LC)'} 6867 {'Population trend': 'Stable', 'Population status': 'Near Threatened (NT)'} 179 {'Population trend': 'Stable', 'Population status': 'Vulnerable (VU)'} 188 {'Population trend': 'Unknown', 'Population status': 'Critically endangered (CR)'} 149 {'Population trend': 'Unknown', 'Population status': 'Data deficient (DD)'} 1665 {'Population trend': 'Unknown', 'Population status': 'Endangered (EN)'} 223 {'Population trend': 'Unknown', 'Population status': 'Least concern (LC)'} 3359 {'Population trend': 'Unknown', 'Population status': 'Near Threatened (NT)'} 207 {'Population trend': 'Unknown', 'Population status': 'Not evaluated (NE)'} 1 {'Population trend': 'Unknown', 'Population status': 'Vulnerable (VU)'} 209 {} 5350 dtype: int64"

## Xử lý tách các cột có kiểu dictionary thành nhiều cột

Đầu tiên các cột dictionary đều có kiểu là string nên ta phải xử lý chuyển các cột trên thành dict

In [16]:
for i in animal_df:
    if animal_df[i][0].find('{') != -1:
        animal_df[i] = animal_df[i].apply(eval)

Viết hàm "split_col" để split các cột có kiểu dữ liệu là dict thành nhiều cột

In [17]:
def split_col(df):
    element = []
    for i in df:
        if type(df[i][0]) == dict: 
            element.append(i)
    df_split_animals_info = pd.DataFrame()
    for i in df:
        if i not in element:
            df_split_animals_info[i] = df[i]
        else:
            temp3 = df[i][0].items()
            temp3 = np.array(list(temp3), dtype = object)
            df_temp2 = pd.DataFrame(columns = temp3[:, 0])
            for rows in df[i]:
                if type(rows) != float:
                    temp3 = rows.items()
                else:
                    temp3 = []
                temp3 = np.array(list(temp3), dtype = object)
                if len(temp3) > 1: 
                    df_temp = pd.DataFrame(index = temp3[:, 0], data = temp3[:, 1]).T
                else:
                    df_temp = pd.DataFrame(columns = df_temp2.columns, index = [0])
                df_temp2 = pd.concat([df_temp2, df_temp], ignore_index=True)
            df_split_animals_info = df_split_animals_info.join(df_temp2)
    return df_split_animals_info

In [18]:
df_split_animals_info = split_col(animal_df)
pd.set_option('display.max_columns', None)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Geography,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Cursorial,Altricial,Pack hunters,Apex predator,Pursuit predator,Nomadic,Territorial,Viviparous,Pack hunters,Ambush predator,Monogamy,Social,Dominance hierarchy,Not a migrant,starts with,Dangerous Animals","{'Continents': 'Asia, Europe, North America, Africa', 'Subcontinents': 'South Asia, Western Asia, Southeast Asia, East Asia, Central Asia, North Africa', 'Countries': 'Albania, Armenia, Azerbaijan, Belarus, Bhutan, Bosnia and Herzegovina, Bulgaria, Canada, China, Croatia,', 'Regions': 'Czech Republic, Estonia, Finland, France, Georgia, Germany, Greece, Hungary, India, Iran, Iraq, Israel, Italy, Jordan, Kazakhstan, North Korea, South Korea, Kyrgyzstan, Latvia, Libya, Lithuania, Macedonia, Mexico, Moldova, Mongolia, Montenegro, Myanmar, Nepal, Norway, Oman, Pakistan, Poland, Portugal, Romania, Russia, Saudi Arabia, Serbia, Slovakia, Slovenia, Spain, Sweden, Syria, Tajikistan, Turkey, Turkmenistan, Ukraine, United Arab Emirates, United States, Uzbekistan, Yemen, Bangladesh, Afghanistan', 'Biogeographical realms': 'Greenland', 'Wwf biomes': 'Nearctic, Palearctic, Indomalayan, Afrotropical'}","[Wetlands , Shrubland, Forest, Mountains, Anthropogenic biome, Grassland, Rocky areas , Agricultural]","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunters, Apex predator, Pursuit predator, Nomadic, Territorial, Viviparous, Pack hunters, Ambush predator",Not a migrant,NaN,NaN,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambush predator,Altricial,Nomadic,Territorial,Viviparous,Apex predator,Polygyny,Solitary,Dominance hierarchy,Not a migrant,starts with,Camouflaged Animals,Dangerous Animals,Giant Animals","{'Continents': 'Asia', 'Subcontinents': 'South Asia, Southeast Asia, East Asia', 'Countries': 'Bangladesh, Bhutan, China, India, Indonesia, Laos, Malaysia, Myanmar, Nepal, Russia,', 'Regions': 'Thailand', 'Biogeographical realms': 'Tibet, Yunnan', 'Wwf biomes': 'Palearctic, Indomalayan'}","[Forest, Rainforest, Montane forest, Riparian, Shrubland, Grassland]","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altricial, Nomadic, Territorial, Viviparous, Apex predator",Not a migrant,NaN,NaN,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nomadic,Territorial,Burrowing,Polygynandry,Serial monogamy,Dangerous,Solitary,Hibernating,Migrating,starts with,Lucky Animals,Canada Province Animals","{'Continents': 'Asia, Europe, North America', 'Subcontinents': 'South Asia, Western Asia, East Asia, Central Asia, Southeast Asia', 'Countries': 'Albania, Armenia, Austria, Azerbaijan, Belarus, Bosnia and Herzegovina, Bulgaria, Canada, China, Croatia,', 'Biogeographical realms': 'Estonia, Finland, France, Georgia, Greece, India, Iran, Iraq, Italy, Japan, Kazakhstan, North Korea, Kyrgyzstan, Latvia, Macedonia, Mongolia, Montenegro, Nepal, Norway, Pakistan, Poland, Romania, Russia, Serbia, Slovakia, Slovenia, Spain, Sweden, Tajikistan, Turkey, Ukraine, United States, Uzbekistan, Bhutan, Lebanon, Afghanistan', 'Wwf biomes': 'Nearctic, Palearctic, Indomalayan'}","[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, Burrowing","Hibernating, Migrating",NaN,NaN,Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natatorial,Viviparous,Cosmopolitan,Pursuit predator,Monogamy,Generally solitary,Migrating,starts with,Giant Animals","{'Continents': 'Africa, South America, Oceania, North America, Asia, Europe, Antarctica', 'Subcontinents': 'Sub-Saharan Africa, Caribbean Islands, South Asia, East Asia, Central America, Southeast Asia, Western Asia, North Africa', 'Countries': 'Angola, Argentina, Australia, Bahamas, Bangladesh, Benin, Brazil, Cameroon, Canada, Cape Verde,', 'Regions': 'Chile, China, Colombia, Comoros, Costa Rica, Cote d'Ivoire, Djibouti, Ecuador, El Salvador, Equatorial Guinea, Eritrea, Faroe Islands, France, Gabon, Ghana, Greece, Grenada, Guatemala, Iceland, India, Indonesia, Iran, Iraq, Ireland, Japan, Kenya, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mauritius, Mexico, Morocco, Mozambique, Myanmar, Namibia, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Peru, Philippines, Portugal, Russia, Sao Tomé and Principe, Senegal, Seychelles, Somalia, South Africa, Spain, Sri Lanka, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, United Kingdom, United States, Uruguay, Western Sahara', 'Oceans': 'Greenland, Kamchatka', 'Biogeographical realms': 'Atlantic Ocean, Pacific Ocean'}","[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Cosmopolitan, Pursuit predator",Migrating,NaN,NaN,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolitan,Natatorial,Territorial,Viviparous,Apex predator,Pursuit predator,Polygynandry,Highly social,Partial Migrant,starts with,Vicious Animals,Black And White Animals","{'Continents': 'Africa, Oceania, Antarctica, North America, South America, Asia, Europe', 'Subcontinents': 'North Africa, Caribbean Islands, South Asia, Central America, Sub-Saharan Africa, Southeast Asia, East Asia, Western Asia', 'Countries': 'Algeria, Antigua and Barbuda, Argentina, Australia, Bahamas, Bangladesh, Barbados, Belize, Benin, Brazil,', 'Regions': 'Brunei, Cambodia, Cameroon, Canada, Cape Verde, Chile, China, Colombia, Comoros, Congo, DR Congo, Costa Rica, Cote d'Ivoire, Cuba, Denmark, Djibouti, Dominica, Dominican Republic, Ecuador, El Salvador, Equatorial Guinea, Faroe Islands, Fiji, France, Gabon, Gambia, Ghana, Grenada, Guadeloupe, Guatemala, Guinea, Guinea-Bissau, Guyana, Honduras, Iceland, India, Indonesia, Iran, Ireland, Israel, Italy, Jamaica, Japan, Kenya, Kiribati, Liberia, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mexico, Federated States of Micronesia, Monaco, Morocco, Mozambique, Myanmar, Namibia, Nauru, Netherlands, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Peru, Philippines, Portugal, Russia, Saint Kitts and Nevis, Saint Lucia, Saint Vincent and the Grenadines, Samoa, Senegal, Sierra Leone, Singapore, Solomon Islands, Somalia, South Africa, Spain, Sri Lanka, Suriname, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, Tonga, Trinidad and Tobago, Tunisia, United Arab Emirates, United Kingdom, United States, Uruguay, Vanuatu, Venezuela, Viet Nam, Western Sahara, Yemen, Germany', 'Oceans': 'Newfoundland, Hawaii, Greenland', 'Biogeographical realms': 'Arctic Ocean, Atlantic Ocean, Pacific Ocean'}","[Oceanic pelagic zone, Marine, Neritic zone, Estuaries]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, Territorial, Viviparous, Apex predator, Pursuit predator",Partial Migrant,NaN,NaN,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Sau khi split dữ liệu có số dòng là 3237 và số cột là 37, tăng lên 15 cột

Nhưng nhìn lại dữ liệu vẫn còn cột là dictionary như "Geograpy", như vậy ta phải split thêm 1 lần nữa

In [19]:
df_split_animals_info = split_col(df_split_animals_info)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Continents,Subcontinents,Countries,Regions,Biogeographical realms,Wwf biomes,Oceans,Introduced countries,Islands,Seas,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Cursorial,Altricial,Pack hunters,Apex predator,Pursuit predator,Nomadic,Territorial,Viviparous,Pack hunters,Ambush predator,Monogamy,Social,Dominance hierarchy,Not a migrant,starts with,Dangerous Animals","Asia, Europe, North America, Africa","South Asia, Western Asia, Southeast Asia, East Asia, Central Asia, North Africa","Albania, Armenia, Azerbaijan, Belarus, Bhutan, Bosnia and Herzegovina, Bulgaria, Canada, China, Croatia,","Czech Republic, Estonia, Finland, France, Georgia, Germany, Greece, Hungary, India, Iran, Iraq, Israel, Italy, Jordan, Kazakhstan, North Korea, South Korea, Kyrgyzstan, Latvia, Libya, Lithuania, Macedonia, Mexico, Moldova, Mongolia, Montenegro, Myanmar, Nepal, Norway, Oman, Pakistan, Poland, Portugal, Romania, Russia, Saudi Arabia, Serbia, Slovakia, Slovenia, Spain, Sweden, Syria, Tajikistan, Turkey, Turkmenistan, Ukraine, United Arab Emirates, United States, Uzbekistan, Yemen, Bangladesh, Afghanistan",Greenland,"Nearctic, Palearctic, Indomalayan, Afrotropical",NaN,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anthropogenic biome, Grassland, Rocky areas , Agricultural]","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunters, Apex predator, Pursuit predator, Nomadic, Territorial, Viviparous, Pack hunters, Ambush predator",Not a migrant,NaN,NaN,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambush predator,Altricial,Nomadic,Territorial,Viviparous,Apex predator,Polygyny,Solitary,Dominance hierarchy,Not a migrant,starts with,Camouflaged Animals,Dangerous Animals,Giant Animals",Asia,"South Asia, Southeast Asia, East Asia","Bangladesh, Bhutan, China, India, Indonesia, Laos, Malaysia, Myanmar, Nepal, Russia,",Thailand,"Tibet, Yunnan","Palearctic, Indomalayan",NaN,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian, Shrubland, Grassland]","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altricial, Nomadic, Territorial, Viviparous, Apex predator",Not a migrant,NaN,NaN,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nomadic,Territorial,Burrowing,Polygynandry,Serial monogamy,Dangerous,Solitary,Hibernating,Migrating,starts with,Lucky Animals,Canada Province Animals","Asia, Europe, North America","South Asia, Western Asia, East Asia, Central Asia, Southeast Asia","Albania, Armenia, Austria, Azerbaijan, Belarus, Bosnia and Herzegovina, Bulgaria, Canada, China, Croatia,",NaN,"Estonia, Finland, France, Georgia, Greece, India, Iran, Iraq, Italy, Japan, Kazakhstan, North Korea, Kyrgyzstan, Latvia, Macedonia, Mongolia, Montenegro, Nepal, Norway, Pakistan, Poland, Romania, Russia, Serbia, Slovakia, Slovenia, Spain, Sweden, Tajikistan, Turkey, Ukraine, United States, Uzbekistan, Bhutan, Lebanon, Afghanistan","Nearctic, Palearctic, Indomalayan",NaN,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, Burrowing","Hibernating, Migrating",NaN,NaN,Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natatorial,Viviparous,Cosmopolitan,Pursuit predator,Monogamy,Generally solitary,Migrating,starts with,Giant Animals","Africa, South America, Oceania, North America, Asia, Europe, Antarctica","Sub-Saharan Africa, Caribbean Islands, South Asia, East Asia, Central America, Southeast Asia, Western Asia, North Africa","Angola, Argentina, Australia, Bahamas, Bangladesh, Benin, Brazil, Cameroon, Canada, Cape Verde,","Chile, China, Colombia, Comoros, Costa Rica, Cote d'Ivoire, Djibouti, Ecuador, El Salvador, Equatorial Guinea, Eritrea, Faroe Islands, France, Gabon, Ghana, Greece, Grenada, Guatemala, Iceland, India, Indonesia, Iran, Iraq, Ireland, Japan, Kenya, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mauritius, Mexico, Morocco, Mozambique, Myanmar, Namibia, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Peru, Philippines, Portugal, Russia, Sao Tomé and Principe, Senegal, Seychelles, Somalia, South Africa, Spain, Sri Lanka, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, United Kingdom, United States, Uruguay, Western Sahara","Atlantic Ocean, Pacific Ocean",NaN,"Greenland, Kamchatka",NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Cosmopolitan, Pursuit predator",Migrating,NaN,NaN,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolitan,Natatorial,Territorial,Viviparous,Apex predator,Pursuit predator,Polygynandry,Highly social,Partial Migrant,starts with,Vicious Animals,Black And White Animals","Africa, Oceania, Antarctica, North America, South America, Asia, Europe","North Africa, Caribbean Islands, South Asia, Central America, Sub-Saharan Africa, Southeast Asia, East Asia, Western Asia","Algeria, Antigua and Barbuda, Argentina, Australia, Bahamas, Bangladesh, Barbados, Belize, Benin, Brazil,","Brunei, Cambodia, Cameroon, Canada, Cape Verde, Chile, China, Colombia, Comoros, Congo, DR Congo, Costa Rica, Cote d'Ivoire, Cuba, Denmark, Djibouti, Dominica, Dominican Republic, Ecuador, El Salvador, Equatorial Guinea, Faroe Islands, Fiji, France, Gabon, Gambia, Ghana, Grenada, Guadeloupe, Guatemala, Guinea, Guinea-Bissau, Guyana, Honduras, Iceland, India, Indonesia, Iran, Ireland, Israel, Italy, Jamaica, Japan, Kenya, Kiribati, Liberia, Madagascar, Malaysia, Maldives, Marshall Islands, Mauritania, Mexico, Federated States of Micronesia, Monaco, Morocco, Mozambique, Myanmar, Namibia, Nauru, Netherlands, New Zealand, Nicaragua, Nigeria, Norway, Oman, Pakistan, Palau, Panama, Papua New Guinea, Peru, Philippines, Portugal, Russia, Saint Kitts and Nevis, Saint Lucia, Saint Vincent and the Grenadines, Samoa, Senegal, Sierra Leone, Singapore, Solomon Islands, Somalia, South Africa, Spain, Sri Lanka, Suriname, Taiwan, Tanzania, Thailand, Timor-Leste, Togo, Tonga, Trinidad and Tobago, Tunisia, United Arab Emirates, United Kingdom, United States, Uruguay, Vanuatu, Venezuela, Viet Nam, Western Sahara, Yemen, Germany","Arctic Ocean, Atlantic Ocean, Pacific Ocean",NaN,"Newfoundland, Hawaii, Greenland",NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, Estuaries]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, Territorial, Viviparous, Apex predator, Pursuit predator",Partial Migrant,NaN,NaN,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29350,Córdoba cinclodes,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cinclodes,Cinclodes comechingonus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29351,Western hemispingus,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Thraupidae,Sphenopsis,Sphenopsis ochracea,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29352,Sulphur-bearded reedhaunter,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Cranioleuca,Limnoctites sulphuriferus,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Migrating,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29355,McConnell's spinetail,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Synallaxis,Synallaxis macconnelli,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29356,Junín canastero,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Furnariidae,Asthenes,Asthenes virgata,NaN,NaN,NaN,NaN,NaN,NaN,"Terrestrial,Not a migrant,starts with",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Sau khi split dữ liệu tăng thêm 9 cột

Lúc này ta tính lại missing_ratio xem các cột sau khi split như thế nào nhé

In [20]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in df_split_animals_info.columns:
    if df_split_animals_info[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, df_split_animals_info)

cat_col_info_df

                                                                                                                                                                                                                                                                                                                                                          Name  \
missing_ratio  0.0
num_values     28525
value          ? Nycticebus linglom      1
AEECL's sportive lemur    1
Aaadonta angaurana        1
Aaadonta constricta       1
Aaadonta fuscozonata      1
                         ..
ʻAkohekohe                1
ʻAnianiau                 1
ʻApapane                  1
ʻEua rail                 1
ʻIʻiwi                    1
Length: 28525, dtype: int64

                                      Kingdom  \
missing_ratio  0.0
num_values     1
value          Animalia    28525
dtype: int64

                                                         Phylum  \
missing_ratio  0.0
num_values     2
value          Chordata    23659
Mollusca    4866
dtype: int64

                                      Subphylum  \
missing_ratio  64.4
num_values     1
value          Vertebrata    10152
dtype: int64

                                                                                                                                                                                                                                                                      Class  \
missing_ratio  0.0
num_values     10
value          Amphibia          3393
Aves              10114
Bivalvia          515
Cephalopoda       336
Gastropoda        3991
Mammalia          5879
Polyplacophora    10
Reptilia          4273
Scaphopoda        13
Solenogastres     1
dtype: int64

                                                                                                                                                                                                                                                                                                Order  \
missing_ratio  1.5
num_values     118
value          Accipitriformes    255
Adapedonta         10
Aegotheliformes    11
Afrosoricida       56
Anomalodesmata     18
                   ..
Trogoniformes      41
Tubulidentata      2
Unionoida          217
Vampyromorphida    1
Venerida           89
Length: 118, dtype: int64

                                                                                                                                                                                                                                                                                                                                           Suborder  \
missing_ratio  91.0
num_values     13
value          Alcedini           109
Caniformia         192
Cryptodira         212
Feliformia         100
Haplorhini         271
Iguania            324
Lari               1
Macropodiformes    2
Phalangerida       2
Pleurodira         43
Ruminantia         54
Serpentes          1132
Strepsirrhini      122
dtype: int64

                                                                                                                                                                                                                                                                                                                     Family  \
missing_ratio  0.0
num_values     840
value          Abrocomidae          10
Abronicidae          2
Acanthisittidae      2
Acanthizidae         59
Acanthochitonidae    3
                    ..
Zebinidae            7
Zeledoniidae         1
Ziphiidae            21
Zonitidae            1
Zosteropidae         124
Length: 840, dtype: int64

                                                                                                                                                                                                                                          Genus  \
missing_ratio  0.0
num_values     6127
value          Aaadonta        6
Abditomys       1
Abeillia        1
Abeomelomys     1
Ablepharus      9
               ..
Zosterornis     5
Zygaspis        8
Zygodontomys    2
Zygogeomys      1
Zyzomys         5
Length: 6127, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                          Species  \
missing_ratio  0.0
num_values     28523
value          "Calamita" melanorabdotus          1
"Calamita" quadrilineatus          1
"Centrolene" acanthidiocephalum    1
"Centrolene" azulae                1
"Centrolene" guanacarum            1
                                  ..
Zyzomys argurus                    1
Zyzomys maini                      1
Zyzomys palatalis                  1
Zyzomys pedunculatus               1
Zyzomys woodwardi                  1
Length: 28523, dtype: int64

                                                                                                                                                                                                                               Population size  \
missing_ratio  93.7
num_values     638
value          0.45-1 M        1
1 Mln           2
1,000           5
1,000,000       1
1,000-10,000    4
               ..
over 225,000    1
over 340,000    1
over 4 mln      1
over 400,000    1
over 975        1
Length: 638, dtype: int64

                                                                                                                                                                                                                                     Life span  \
missing_ratio  93.6
num_values     581
value          1 yr            2
1-10 yrs        2
1-12.5 yrs      1
1-13 yrs        1
1-19 yrs        1
               ..
up to 25 yrs    1
up to 29 yrs    1
up to 30 yrs    3
up to 5 yrs     1
up to 8 yrs     1
Length: 581, dtype: int64

                                                                                                                                                                                                    Top speed  \
missing_ratio  98.0
num_values     124
value          0.24 km/h    1
0.26 km/h    1
0.27 km/h    1
0.5 km/h     4
10 km/h      5
            ..
93 km/h      1
95 km/h      2
96 km/h      4
96.6 km/h    2
98 km/h      1
Length: 124, dtype: int64

                                                                                                                                                                                                                                                               Weight  \
missing_ratio  90.0
num_values     2232
value          0-0 kg            3
0.010-0.796 g     1
0.02-22.5 kg      2
0.030-0.067 kg    1
0.056-1.65 kg     1
                 ..
up to 50 g        1
up to 50 kg       1
up to 6 kg        1
up to 7kg         1
up to 9 kg        1
Length: 2232, dtype: int64

                                                                                                                                                                                                                             Height  \
missing_ratio  98.9
num_values     245
value          0.5 m          1
0.7-1.3 m      1
0.75-1 m       2
0.8-1.5 m      1
0.9 m          1
              ..
95-130 cm      1
97-140 cm      1
99-125 cm      1
over 1 m       1
up to 80 cm    1
Length: 245, dtype: int64

                                                                                                                                                                                                                              Length  \
missing_ratio  89.7
num_values     2101
value          0.5 m          2
0.5-1.8 m      1
0.6-2.43 m     1
0.60-0.76 m    1
0.7-1.2 m      1
              ..
up to 60 cm    2
up to 65 cm    1
up to 70 cm    1
up to 80 cm    1
up to 99 cm    1
Length: 2101, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Attributes  \
missing_ratio  0.0
num_values     3078
value          Algivore,Detritivore,Herbivore,Fossorial,Polygynandry,Polygamy,Not a migrant,starts with    1
Algivore,Detritivore,Herbivore,Polygynandry,Polygamy,Colonial,Not a migrant,starts with     1
Algivore,Detritivore,Herbivore,Polygynandry,Polygamy,Solitary,Not a migrant,starts with     1
Algivore,Herbivore,Planktivore,Not a migrant,starts with                                    2
Algivore,Herbivore,Planktivore,Polygynandry,Polygamy,Solitary,Not a migrant,starts with     1
                                                                                           ..
Terrestrial,Viviparous,Arboreal,Altricial,starts with                                       1
Terrestrial,Viviparous,starts with                                                          1
Terrestrial,starts with                                                                     8099
Zoochory,Terrestrial,Monogamy,Not a migrant,starts with                                     1
starts with                                                                                 6503
Length: 3078, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Continents  \
missing_ratio  70.6
num_values     252
value          Africa                                                                                                1135
Africa  Benin, Burkina Faso, Cameroon, Gambia, Ghana, Guinea, Guinea-Bissau, Mali, Niger, Nigeria,    1
Africa  DR Congo                                                                                      1
Africa  DR Congo, South Sudan, Sudan, Uganda                                                          1
Africa  Madagascar                                                                                    1
                                                                                                     ..
South America, North America, Asia                                                                    1
South America, North America, Asia, Africa                                                            1
South America, Oceania, Africa                                                                        1
South America, Oceania, Antarctica                                                                    1
South America, Oceania, Antarctica, Africa                                                            1
Length: 252, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       Subcontinents  \
missing_ratio  96.5
num_values     224
value          Angola, Botswana, Burundi, DR Congo, Kenya, Malawi, Mozambique, Namibia, Rwanda, South Africa,                    1
Argentina, Belize, Bolivia, Brazil, Colombia, Costa Rica, Ecuador, El Salvador, Guatemala, Guyana,                1
Bangladesh, Brunei, Cambodia, China, India, Indonesia, Laos, Malaysia, Maldives, Myanmar,                         1
Bangladesh, Myanmar, Cambodia, China, Hong Kong, India, Bhutan, Indonesia, Laos, Malaysia,                        1
Bhutan, China, India, Myanmar                                                                                     1
                                                                                                                 ..
Western Asia, South Asia                                                                                          3
Western Asia, South Asia, Central Asia                                                                            3
Western Asia, South Asia, Southeast Asia                                                                          1
Western Asia, South Asia, Southeast Asia, North Africa, Sub-Saharan Africa, Central America, Caribbean Islands    1
Western Asia, Sub-Saharan Africa                                                                                  1
Length: 224, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        Countries  \
missing_ratio  68.9
num_values     3106
value                                                                                                                               36
Afghanistan, Albania, Algeria,  Andorra, Armenia, Austria, Azerbaijan, Bangladesh, Belarus, Belgium,                 1
Afghanistan, Albania, Algeria, Andorra, Armenia, Austria, Azerbaijan, Bangladesh, Bhutan, Bosnia and Herzegovina,    1
Afghanistan, Albania, Algeria, Andorra, Armenia, Austria, Azerbaijan, Belarus, Belgium, Bhutan,                      1
Afghanistan, Albania, Algeria, Armenia, Austria, Azerbaijan, Belarus, Belgium, Bosnia and Herzegovina, Bulgaria,     1
                                                                                                                    ..
Yemen, Iran, Iraq, Israel, Jordan, Kuwait, Oman, Qatar, Saudi Arabia, United Arab Emirates                           1
Yemen, Oman                                                                                                          2
Yemen, Oman, United Arab Emirates                                                                                    1
Yemen, Saudi Arabia                                                                                                  1
Zambia                                                                                                               5
Length: 3106, dtype: int64

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          Regions  \
missing_ratio  92.9
num_values     934
value                                                                                                                                  22

## Tiếp tục tiền xử lý dữ liệu nhé

### Loại bỏ một số cột không cần thiết

Sau khi tách các cột thành dictionary, đã xuất hiện một số cột không cần thiết mà tỷ lệ miss lại khá cao, ta cần vứt bỏ những cột này cho dễ xử lý về sau.

In [7]:
cols = ['Oceans', 'Introduced countries', 'Seas', 'Islands', 'Predators', "Bird's call"]
for col in cols:
    df_split_animals_info  = df_split_animals_info.drop(columns  = col)
df_split_animals_info

NameError: name 'df_split_animals_info' is not defined

Tại đây ta sẽ tách các cột có thuộc tính cách nhau bằng dấu phẩy thành 1 list

Luu vào "element" là tên các cột có các thuộc tính phân tách bằng dấu phẩy

Các cột sau khi xử lý sẽ được lưu vào biến "splits"

In [24]:
element = np.array(['Attributes', 'Continents', 'Subcontinents', 'Countries', 'Regions', 'Wwf biomes', 'Group name', 'Diet', 'Biogeographical realms', 'Lifestyle', 'Oceans', 'Seasonal behavior'])

splits = [df_split_animals_info[col].str.split(pat = ',| and |  ', expand = False) for col in element]
splits = pd.DataFrame(splits).T
# print(splits.shape)
# print(splits.head())

Sau khi tách xong ta tiến hành ghép 2 dataframe lại thành "data_df"

In [25]:
df_split_animals_info.drop(element, axis=1, inplace=True)
data_df = pd.concat([df_split_animals_info, splits], axis = 1)
# data_df = data_df.drop(columns = data_df.columns[0], axis = 1)
data_df
# df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Introduced countries,Seas,Islands,Biome,Climate,Seasonal behavior,Predators,Bird's call,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Oceans
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]",Not a migrant,NaN,NaN,Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC),"[Nocturnal, Carnivore, Scavenger, Terrestrial,...","[Asia, Europe, North America, Africa]","[South Asia, Western Asia, Southeast Asia, ...","[Albania, Armenia, Azerbaijan, Belarus, Bh...","[Czech Republic, Estonia, Finland, France, ...","[Nearctic, Palearctic, Indomalayan, Afrotro...","[pack, route, rout]","[Carnivore, , Scavenger]",[Greenland],"[Terrestrial, Cursorial, Altricial, Pack hu...",NaN
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",Not a migrant,NaN,NaN,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN),"[Nocturnal, Carnivore, Cursorial, Terrestrial,...",[Asia],"[South Asia, Southeast Asia, East Asia]","[Bangladesh, Bhutan, China, India, Indon...",[Thailand],"[Palearctic, Indomalayan]",NaN,[Carnivore],"[Tibet, Yunnan]","[Cursorial, Terrestrial, Ambush predator, A...",NaN
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","Hibernating, Migrating",NaN,NaN,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC),"[Crepuscular, Omnivore, Terrestrial, Altricial...","[Asia, Europe, North America]","[South Asia, Western Asia, East Asia, Centr...","[Albania, Armenia, Austria, Azerbaijan, Be...",NaN,"[Nearctic, Palearctic, Indomalayan]","[sloth, sleuth]",[Omnivore],"[Estonia, Finland, France, Georgia, Greece...","[Terrestrial, Altricial, Nomadic, Territori...",NaN
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]",Migrating,NaN,NaN,Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN),"[Carnivore, Piscivores, Aquatic, Precocial, Na...","[Africa, South America, Oceania, North Amer...","[Sub-Saharan Africa, Caribbean Islands, Sout...","[Angola, Argentina, Australia, Bahamas, Ba...","[Chile, China, Colombia, Comoros, Costa Ri...",NaN,"[pod, gam, herd, school, mod]","[Carnivore, , Piscivores]","[Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Natatorial, Viviparous...","[Greenland, Kamchatka]"
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]",Partial Migrant,NaN,NaN,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN,"[Diurnal, Carnivore, Aquatic, Precocial, Cosmo...","[Africa, Oceania, Antarctica, North America...","[North Africa, Caribbean Islands, South Asia...","[Algeria, Antigua and Barbuda, Argentina, A...","[Brunei, Cambodia, Cameroon, Canada, Cape ...",NaN,"[pod, gam, herd, school, mod]",[Carnivore],"[Arctic Ocean, Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Cosmopolitan, Natatori...","[Newfoundland, Hawaii, Greenland]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,Yellow-billed cacique,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Amblycercus,Amblycercus holosericeus,NaN,NaN,NaN,56.7-70.9 g,NaN,21.6-25.4 cm,NaN,NaN,NaN,[Forest],[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Omnivore, Zoochory, Terrestrial, Mon...","[South America, North America]",NaN,"[Belize, Costa Rica, El Salvador, Guatemala...",NaN,NaN,NaN,NaN,"[Colombia, Peru, Venezuela]",NaN,NaN
3233,Saint Lucia oriole,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Icterus,Icterus laudabilis,NaN,NaN,NaN,36.9 g,NaN,20-22 cm,NaN,NaN,NaN,"[Agricultural, Anthropogenic biome, Forest, Mo...",[Tropical],Not a migrant,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Endangered (EN),"[Diurnal, Herbivore, Frugivore, Nectarivore, A...",[North America],NaN,[Saint Lucia],NaN,NaN,NaN,"[Herbivore, , Frugivore, , Nectarivore]",[Neotropical],"[Arboreal, Zoochory, Island endemic, Terres...",NaN
3234,Swynnerton's robin,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Muscicapidae,Swynnertonia,Swynnertonia swynnertoni,NaN,NaN,NaN,NaN,NaN,12-13 cm,NaN,NaN,NaN,"[Forest, Mountains]",[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Vulnerable (VU),"[Diurnal, Carnivore, Insectivores, Terrestrial...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3235,Ochre-bellied flycatcher,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Tyrannidae,Mionectes,Mionectes oleagineus,NaN,NaN,NaN,13 g,NaN,NaN,NaN,NaN,NaN,"[Forest, Rainforest, Grassland, Freshwater, An...",[],Not a migrant,NaN,Your browser does not support the audio element.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stable,Least concern (LC),"[Terrestrial, Not a migrant, starts with]","[South America, North America]",NaN,"[Trinidad and Tobago, Belize, Costa Rica, E...","[Bolivia, Brazil, Colombia, Guyana, Peru, ...",NaN,NaN,NaN,[French Guiana],"[Terrestrial, ]",NaN
3236,Magellanic diving petrel,Animalia,Chordata,NaN,Aves,Procellariiformes,NaN,Procellariidae,Pelecanoides,Pelecanoides magellani,NaN,NaN,NaN,145-174 g,NaN,19 cm,NaN,NaN,NaN,"[Coastal, Neritic zone, Oceanic pelagic zone, ...",[Temperate],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Nocturnal, Carnivore, Piscivores, Te...",[South America],NaN,"[Chile, Argentina]",[Falkland Islands],NaN,NaN,NaN,[Neotropical],NaN,"[Atlantic Ocean, Pacific Ocean]"

Xử lý tại các cột list, những giá trị nan sẽ được thay thế thành một list rỗng []

In [26]:
data_df[element] = data_df[element].fillna(data_df.notna().applymap(lambda x: x or []))
# data_df = data_df.drop(columns = data_df.columns[0], axis = 1)
data_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Introduced countries,Seas,Islands,Biome,Climate,Seasonal behavior,Predators,Bird's call,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Oceans
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]",Not a migrant,NaN,NaN,Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC),"[Nocturnal, Carnivore, Scavenger, Terrestrial,...","[Asia, Europe, North America, Africa]","[South Asia, Western Asia, Southeast Asia, ...","[Albania, Armenia, Azerbaijan, Belarus, Bh...","[Czech Republic, Estonia, Finland, France, ...","[Nearctic, Palearctic, Indomalayan, Afrotro...","[pack, route, rout]","[Carnivore, , Scavenger]",[Greenland],"[Terrestrial, Cursorial, Altricial, Pack hu...",[]
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",Not a migrant,NaN,NaN,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN),"[Nocturnal, Carnivore, Cursorial, Terrestrial,...",[Asia],"[South Asia, Southeast Asia, East Asia]","[Bangladesh, Bhutan, China, India, Indon...",[Thailand],"[Palearctic, Indomalayan]",[],[Carnivore],"[Tibet, Yunnan]","[Cursorial, Terrestrial, Ambush predator, A...",[]
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","Hibernating, Migrating",NaN,NaN,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC),"[Crepuscular, Omnivore, Terrestrial, Altricial...","[Asia, Europe, North America]","[South Asia, Western Asia, East Asia, Centr...","[Albania, Armenia, Austria, Azerbaijan, Be...",[],"[Nearctic, Palearctic, Indomalayan]","[sloth, sleuth]",[Omnivore],"[Estonia, Finland, France, Georgia, Greece...","[Terrestrial, Altricial, Nomadic, Territori...",[]
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]",Migrating,NaN,NaN,Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN),"[Carnivore, Piscivores, Aquatic, Precocial, Na...","[Africa, South America, Oceania, North Amer...","[Sub-Saharan Africa, Caribbean Islands, Sout...","[Angola, Argentina, Australia, Bahamas, Ba...","[Chile, China, Colombia, Comoros, Costa Ri...",[],"[pod, gam, herd, school, mod]","[Carnivore, , Piscivores]","[Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Natatorial, Viviparous...","[Greenland, Kamchatka]"
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]",Partial Migrant,NaN,NaN,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN,"[Diurnal, Carnivore, Aquatic, Precocial, Cosmo...","[Africa, Oceania, Antarctica, North America...","[North Africa, Caribbean Islands, South Asia...","[Algeria, Antigua and Barbuda, Argentina, A...","[Brunei, Cambodia, Cameroon, Canada, Cape ...",[],"[pod, gam, herd, school, mod]",[Carnivore],"[Arctic Ocean, Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Cosmopolitan, Natatori...","[Newfoundland, Hawaii, Greenland]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,Yellow-billed cacique,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Amblycercus,Amblycercus holosericeus,NaN,NaN,NaN,56.7-70.9 g,NaN,21.6-25.4 cm,NaN,NaN,NaN,[Forest],[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Omnivore, Zoochory, Terrestrial, Mon...","[South America, North America]",[],"[Belize, Costa Rica, El Salvador, Guatemala...",[],[],[],[],"[Colombia, Peru, Venezuela]",[],[]
3233,Saint Lucia oriole,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Icterus,Icterus laudabilis,NaN,NaN,NaN,36.9 g,NaN,20-22 cm,NaN,NaN,NaN,"[Agricultural, Anthropogenic biome, Forest, Mo...",[Tropical],Not a migrant,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Endangered (EN),"[Diurnal, Herbivore, Frugivore, Nectarivore, A...",[North America],[],[Saint Lucia],[],[],[],"[Herbivore, , Frugivore, , Nectarivore]",[Neotropical],"[Arboreal, Zoochory, Island endemic, Terres...",[]
3234,Swynnerton's robin,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Muscicapidae,Swynnertonia,Swynnertonia swynnertoni,NaN,NaN,NaN,NaN,NaN,12-13 cm,NaN,NaN,NaN,"[Forest, Mountains]",[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Vulnerable (VU),"[Diurnal, Carnivore, Insectivores, Terrestrial...",[],[],[],[],[],[],[],[],[],[]
3235,Ochre-bellied flycatcher,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Tyrannidae,Mionectes,Mionectes oleagineus,NaN,NaN,NaN,13 g,NaN,NaN,NaN,NaN,NaN,"[Forest, Rainforest, Grassland, Freshwater, An...",[],Not a migrant,NaN,Your browser does not support the audio element.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stable,Least concern (LC),"[Terrestrial, Not a migrant, starts with]","[South America, North America]",[],"[Trinidad and Tobago, Belize, Costa Rica, E...","[Bolivia, Brazil, Colombia, Guyana, Peru, ...",[],[],[],[French Guiana],"[Terrestrial, ]",[]
3236,Magellanic diving petrel,Animalia,Chordata,NaN,Aves,Procellariiformes,NaN,Procellariidae,Pelecanoides,Pelecanoides magellani,NaN,NaN,NaN,145-174 g,NaN,19 cm,NaN,NaN,NaN,"[Coastal, Neritic zone, Oceanic pelagic zone, ...",[Temperate],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Nocturnal, Carnivore, Piscivores, Te...",[South America],[],"[Chile, Argentina]",[Falkland Islands],[],[],[],[Neotropical],[],"[Atlantic Ocean, Pacific Ocean]"

### Chuyển cột Top speed sang kiểu số

In [23]:
def trans_speed(speed):
    speed = [speed[:-4].strip(), speed[-4:].strip()]
    if speed[1] == 'km/h':
        x = 1
    elif speed[1] == 'mph':
        x = 1.61
    sp = speed[0].split('-')
    if len(sp) == 1:
        return float(sp[0]) * x
    else:
        return (float(sp[0]) + float(sp[1])) / 2 * x

In [24]:
data_df['Top speed'] = data_df['Top speed'].dropna().apply(trans_speed)

NameError: name 'data_df' is not defined

In [ ]:
def to_float(element):
    try:
        return float(element)
    except ValueError:
        return np.nan

### Chuyển cột life_span sang float

In [ ]:
def trans_life_span(life):
    life = str(life)
    life = life.upper()
    life = life.replace('UPPER', '')
    life = life.replace('ABOVE', '')
    life = life.replace('OVER','')
    life = life.replace('mos', ' MONTHS ')
    life = life.replace('yr', ' YEARS ')
    life = life.replace('YRS', ' YEARS ')
    life = life.replace('YEARS', ' YEARS ')
    life = life.split('-')
    low = to_float(life[0])
    high = to_float(life[-1].split()[0].strip())
    x = life[-1].split()[-1].strip()
    if np.isnan(low):
        low = high
    t = 1.0
    if x == 'MONTHS':
        t = 1 / 12
    elif x == 'YEARS':
        t = 1.0
    low = low * t
    high = high * t
    return (low, high)

In [ ]:
data_df['Life span'].dropna().apply(trans_life_span)
#data_df['Life span'].dropna()

## Thống kê các chỉ số cho các cột có kiểu dữ liệu là list

In [ ]:
def stat_list_col(col, array):
    temp = pd.DataFrame(array[col])
    temp = temp.dropna()
    temp = np.array(temp[col])
    data = []
    # missing_ratio
    data.append(round((100 - (len(temp) / len(array[col]) * 100)), 1))
    # num_values
    temp = np.hstack(temp)
    temp = list(map(str.strip, temp)) # Xử lý các dấu cách đầu và cuối mỗi chuỗi
    temp = np.unique(temp, return_counts=True)
    data.append(len(temp[0]))
    # value
    temp = pd.Series(data = temp[1], index = temp[0])
    data.append(temp)
    # num_values
    return data

#     total = data_df[col].tolist()
#     total = np.hstack(total)
#     value, times = np.unique(total, return_counts = True)

In [ ]:
list_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in data_df:
    if type(data_df[i][0]) == list:
        list_col_info_df[i] = stat_list_col(i, data_df)
list_col_info_df

### Lưu dữ liệu đã tiền xử lý vào file 'animals_split_info.csv' để tiếp tục sử dụng trong các phần sau

In [ ]:
data_df.to_csv('animals_split_info.csv')