# Khám phá dữ liệu

Notebook này để khám phá dữ liệu.

## Import những thư viện cần thiết

In [1]:
import numpy as np
import pandas as pd

## Đọc dữ liệu từ file

File dữ liệu của đồ án sau bước thu thập dữ liệu đang nằm tại địa chỉ '../thu_thap_du_lieu/animal_crawler/animal_info.csv'. Ta sẽ tiến hành đọc dữ liệu đã thu thập và lưu vào DataFrame `animal_df`

In [3]:
animal_df = pd.read_csv('../thu_thap_du_lieu/animal_crawler/animals_info.csv')

Hiển thị 5 dòng đầu tiên trong dữ liệu để xem thử đã đọc đúng hay chưa

In [4]:
animal_df.head(5)

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,...,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,...,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","{'Geography': {'Continents': 'Asia, Europe, No...","{'Group name': 'pack, route, rout', 'Lifestyle...","Carnivore,,Scavenger","{'Mating behavior': 'Monogamy', 'Reproduction ...","{'Population trend': 'Stable', 'Population sta..."
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,...,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...","{'Geography': {'Continents': 'Asia', 'Subconti...","{'Lifestyle': 'Cursorial, Terrestrial, Ambush ...",Carnivore,"{'Mating behavior': 'Polygyny', 'Reproduction ...","{'Population trend': 'Decreasing', 'Population..."
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,...,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","{'Geography': {'Continents': 'Asia, Europe, No...","{'Group name': 'sloth, sleuth', 'Lifestyle': '...",Omnivore,"{'Mating behavior': 'Polygynandry,', 'Reproduc...","{'Population trend': 'Stable', 'Population sta..."
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,...,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","{'Geography': {'Continents': 'Africa, South Am...","{'Group name': 'pod, gam, herd, school, mod', ...","Carnivore,,Piscivores","{'Mating behavior': 'Monogamy', 'Reproduction ...","{'Population trend': 'Increasing', 'Population..."
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,...,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","{'Geography': {'Continents': 'Africa, Oceania,...","{'Group name': 'pod, gam, herd, school, mod', ...",Carnivore,"{'Mating behavior': 'Polygynandry', 'Reproduct...",{'Population status': 'Data deficient (DD)'}

Vậy là đọc dữ liệu từ file đã ok

## Dữ liệu có bao nhiêu dòng, bao nhiêu cột?

In [5]:
animal_df.shape

(29357, 22)

## Mỗi dòng có ý nghĩa gì? Có vấn đề các dòng có ý nghĩa khác nhau không?

Mỗi dòng cho chúng ta biết các thông tin về một con vật, tất cả các dòng đều có cùng ý nghĩa như nhau.

## Dữ liệu có các dòng bị lặp không?

Chúng ta sử dụng hàm 'duplicated' trong pandas để kiểm tra dòng đó có phải bị lặp trong DataFrame hay không. Nếu kết quả là dòng đó bị lặp sẽ trả về giá trị 1, ngược lại sẽ là 0. Kế tiếp chúng ta sử dùng hàm 'sum' để tính tất cả giá trị trả về của hàm 'duplicated'. Nếu kết quả > 0 thì chứng tỏ có tồn tại dòng bị lặp.

In [6]:
animal_df.duplicated().sum()

0

Vậy là dữ liệu của chúng ta không tồn lại dòng nào bị lặp lại.

## Mỗi cột có ý nghĩa gì?

In [7]:
animal_df.columns

Index(['Name', 'Kingdom', 'Phylum', 'Subphylum', 'Class', 'Order', 'Suborder',
       'Family', 'Genus', 'Species', 'Population size', 'Life span',
       'Top speed', 'Weight', 'Height', 'Length', 'Attributes', 'Distribution',
       'Habits', 'Diet', 'Mating_Habits', 'Population'],
      dtype='object')

## Dữ liệu lúc này có bao nhiêu dòng, bao nhiêu cột

In [8]:
animal_df.shape

(29357, 22)

## Các cột lúc này đang có kiểu dữ liệu gì

In [9]:
animal_df.dtypes

Name               object
Kingdom            object
Phylum             object
Subphylum          object
Class              object
Order              object
Suborder           object
Family             object
Genus              object
Species            object
Population size    object
Life span          object
Top speed          object
Weight             object
Height             object
Length             object
Attributes         object
Distribution       object
Habits             object
Diet               object
Mating_Habits      object
Population         object
dtype: object

## Tính xem tình trạng của mỗi cột dữ liệu hiện tại như thế nào

### Với mỗi cột ta sẽ tính:
- Tỉ lệ mất mát: missing_ratio
- Số lượng giá trị khác nhau: num_values
- Số lần xuất hiện của từng giá trị: value

Viết hàm "col_info" để tính và lưu kết quả vào mảng "cat_col_info_df"

In [10]:
def col_info(col, array):
    temp = pd.DataFrame(array[col])
    temp = temp.dropna()
    temp = np.array(temp[col])
    data = []
    # missing_ratio
    data.append(round((100 - (len(temp) / len(array[col]) * 100)), 1))
    # num_values
    temp = np.unique(temp, return_counts=True)
    data.append(len(temp[0]))
    # value
    temp = pd.Series(data = temp[1], index = temp[0])
    data.append(temp)
    # num_values
    return data

In [12]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in animal_df.columns:
    if animal_df[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, animal_df)

cat_col_info_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,...,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
missing_ratio,0.0,0.0,2.8,63.4,0.0,1.5,89.9,0.0,0.0,0.0,...,98.0,90.2,98.9,90.0,0.0,0.0,0.0,91.0,0.0,0.0
num_values,29357,416,2,2,12,123,16,858,6194,28688,...,138,2255,254,2122,3133,8441,2179,308,2713,41
value,? Nycticebus linglom 1 AEECL's s...,Aaadonta constricta 2 Abert's Squirrel...,Chordata 23659 Mollusca 4866 dtype: int64,Animalia 600 Vertebrata 10152 dtype:...,Amphibia 3393 Animalia 23...,Accipitriformes 255 Adapedonta 10 ...,Alcedini 109 Caniformia 19...,Abrocomidae 10 Abronicidae ...,Aaadonta 6 Abditomys 1 Abeillia ...,"""Calamita"" melanorabdotus 1 ""Calamita...",...,0.24 km/h 1 0.26 km/h ...,0-0 kg 3 0.010-0.796 g 1 0.02-2...,0.5 m 1 0.7-1.3 m 1 0.75-1 m ...,0.5 m 2 0.5-1.8 m 1 0.6-2.43 m ...,"Algivore,Detritivore,Herbivore,Fossorial,Polyg...",{'Geography': {'Biogeographical realms': 'Aust...,"{'Group name': '""bind"", contradiction, fling, ...","Algivore,,Detritivore,,Herbivore ...",{'Baby carrying': '1 baby'} ...,{'Population status': 'Critically endangered (...

Tại đây ta thấy các cột "Suborder", "Top speed", "Weight", "Height", "Length", "Diet" có missing_ratio rất cao (từ khoảng 90% trở lên)

Như vậy ta sẽ tiến hành xóa các dòng thiếu cả 3 giá trị 'Top speed', 'Weight', 'Length'

In [13]:
animal_df = animal_df.dropna(subset=['Top speed', 'Weight', 'Length'], how='all')
animal_df = animal_df.reset_index(drop = True)
# df.drop('index', inplace = True)
# df.head()

Vậy sau khi xóa đi các dòng như trên, tình trạng dữ liệu thay đổi như thế nào

In [15]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in animal_df.columns:
    if animal_df[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, animal_df)

cat_col_info_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,...,Top speed,Weight,Height,Length,Attributes,Distribution,Habits,Diet,Mating_Habits,Population
missing_ratio,0.0,0.0,1.0,32.7,0.0,0.0,76.1,0.0,0.2,0.0,...,81.6,11.2,89.7,9.0,0.0,0.0,0.0,20.2,0.0,0.0
num_values,3237,24,2,2,9,80,15,387,1622,3218,...,138,2255,252,2122,2964,3102,2090,302,2690,37
value,Aardvark 1 Aardwolf ...,African Wild Ass 1 American Crow ...,Chordata 3135 Mollusca 69 dtype: int64,Animalia 31 Vertebrata 2148 dtype: i...,Amphibia 79 Animalia 2 Aves ...,Accipitriformes 67 Afrosoricida 25 An...,Alcedini 9 Caniformia 158 ...,Abrocomidae 1 Accipitridae 60 Acro...,Abrawayaomys 1 Abrocoma 1 Acan...,Abrawayaomys ruschii 1 Abrocoma cin...,...,0.24 km/h 1 0.26 km/h ...,0-0 kg 3 0.010-0.796 g 1 0.02-2...,0.5 m 1 0.7-1.3 m 1 0.75-1 m ...,0.5 m 2 0.5-1.8 m 1 0.6-2.43 m ...,"Algivore,Detritivore,Herbivore,Fossorial,Polyg...",{'Geography': {'Biogeographical realms': 'Aust...,"{'Group name': '""bind"", contradiction, fling, ...","Algivore,,Detritivore,,Herbivore ...",{'Baby carrying': '1 baby'} ...,{'Population status': 'Critically endangered (...

Ta thấy missing_ratio không thay đổi nhiều ở các cột 'Top speed', 'Length' nhưng lại giảm rất rõ rệt ở "Height" và "Diet"

## Xử lý tách các cột có kiểu dictionary thành nhiều cột

Đầu tiên các cột dictionary đều có kiểu là string nên ta phải xử lý chuyển các cột trên thành dict

In [19]:
for i in animal_df:
    if animal_df[i][0].find('{') != -1:
        animal_df[i] = animal_df[i].apply(eval)

Viết hàm "split_col" để split các cột có kiểu dữ liệu là dict thành nhiều cột

In [20]:
def split_col(df):
    element = []
    for i in df:
        if type(df[i][0]) == dict: 
            element.append(i)
    df_split_animals_info = pd.DataFrame()
    for i in df:
        if i not in element:
            df_split_animals_info[i] = df[i]
        else:
            temp3 = df[i][0].items()
            temp3 = np.array(list(temp3), dtype = object)
            df_temp2 = pd.DataFrame(columns = temp3[:, 0])
            for rows in df[i]:
                if type(rows) != float:
                    temp3 = rows.items()
                else:
                    temp3 = []
                temp3 = np.array(list(temp3), dtype = object)
                if len(temp3) > 1: 
                    df_temp = pd.DataFrame(index = temp3[:, 0], data = temp3[:, 1]).T
                else:
                    df_temp = pd.DataFrame(columns = df_temp2.columns, index = [0])
                df_temp2 = pd.concat([df_temp2, df_temp], ignore_index=True)
            df_split_animals_info = df_split_animals_info.join(df_temp2)
    return df_split_animals_info

In [21]:
df_split_animals_info = split_col(animal_df)
pd.set_option('display.max_columns', None)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Geography,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","{'Continents': 'Asia, Europe, North America, A...","[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunter...",Not a migrant,NaN,NaN,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...","{'Continents': 'Asia', 'Subcontinents': 'South...","[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altri...",Not a migrant,NaN,NaN,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","{'Continents': 'Asia, Europe, North America', ...","[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, ...","Hibernating, Migrating",NaN,NaN,Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","{'Continents': 'Africa, South America, Oceania...","[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Co...",Migrating,NaN,NaN,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","{'Continents': 'Africa, Oceania, Antarctica, N...","[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, ...",Partial Migrant,NaN,NaN,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,Yellow-billed cacique,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Amblycercus,Amblycercus holosericeus,NaN,NaN,NaN,56.7-70.9 g,NaN,21.6-25.4 cm,"Diurnal,Omnivore,Zoochory,Terrestrial,Monogamy...","{'Continents': 'South America, North America',...",[Forest],[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC)
3233,Saint Lucia oriole,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Icterus,Icterus laudabilis,NaN,NaN,NaN,36.9 g,NaN,20-22 cm,"Diurnal,Herbivore,Frugivore,Nectarivore,Arbore...","{'Continents': 'North America', 'Countries': '...","[Agricultural, Anthropogenic biome, Forest, Mo...",[Tropical],NaN,"Arboreal, Zoochory, Island endemic, Terrestrial,",Not a migrant,NaN,,"Herbivore,,Frugivore,,Nectarivore",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Endangered (EN)
3234,Swynnerton's robin,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Muscicapidae,Swynnertonia,Swynnertonia swynnertoni,NaN,NaN,NaN,NaN,NaN,12-13 cm,"Diurnal,Carnivore,Insectivores,Terrestrial,Not...",{'Continents': ''},"[Forest, Mountains]",[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Vulnerable (VU)
3235,Ochre-bellied flycatcher,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Tyrannidae,Mionectes,Mionectes oleagineus,NaN,NaN,NaN,13 g,NaN,NaN,"Terrestrial,Not a migrant,starts with","{'Continents': 'South America, North America',...","[Forest, Rainforest, Grassland, Freshwater, An...",[],NaN,"Terrestrial,",Not a migrant,NaN,Your browser does not support the audio element.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stable,Least concern (LC)
3236,Magellanic diving petrel,Animalia,Chordata,NaN,Aves,Procellariiformes,NaN,Procellariidae,Pelecanoides,Pelecanoides magellani,NaN,NaN,NaN,145-174 g,NaN,19 cm,"Diurnal,Nocturnal,Carnivore,Piscivores,Terrest...","{'Continents': 'South America', 'Countries': '...","[Coastal, Neritic zone, Oceanic pelagic zone, ...",[Temperate],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC)

Sau khi split dữ liệu có số dòng là 3237 và số cột là 37, tăng lên 15 cột

Nhưng nhìn lại dữ liệu vẫn còn cột là dictionary như "Geograpy", như vậy ta phải split thêm 1 lần nữa

In [22]:
df_split_animals_info = split_col(df_split_animals_info)
df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Continents,Subcontinents,Countries,Regions,Biogeographical realms,Wwf biomes,Oceans,Introduced countries,Seas,Islands,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,"Nocturnal,Carnivore,Scavenger,Terrestrial,Curs...","Asia, Europe, North America, Africa","South Asia, Western Asia, Southeast Asia, East...","Albania, Armenia, Azerbaijan, Belarus, Bhutan,...","Czech Republic, Estonia, Finland, France, Geor...",Greenland,"Nearctic, Palearctic, Indomalayan, Afrotropical",NaN,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]","pack, route, rout","Terrestrial, Cursorial, Altricial, Pack hunter...",Not a migrant,NaN,NaN,"Carnivore,,Scavenger",Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC)
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,"Nocturnal,Carnivore,Cursorial,Terrestrial,Ambu...",Asia,"South Asia, Southeast Asia, East Asia","Bangladesh, Bhutan, China, India, Indonesia,...",Thailand,"Tibet, Yunnan","Palearctic, Indomalayan",NaN,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",NaN,"Cursorial, Terrestrial, Ambush predator, Altri...",Not a migrant,NaN,NaN,Carnivore,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN)
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,"Crepuscular,Omnivore,Terrestrial,Altricial,Nom...","Asia, Europe, North America","South Asia, Western Asia, East Asia, Central A...","Albania, Armenia, Austria, Azerbaijan, Belarus...",NaN,"Estonia, Finland, France, Georgia, Greece, Ind...","Nearctic, Palearctic, Indomalayan",NaN,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","sloth, sleuth","Terrestrial, Altricial, Nomadic, Territorial, ...","Hibernating, Migrating",NaN,NaN,Omnivore,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC)
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,"Carnivore,Piscivores,Aquatic,Precocial,Natator...","Africa, South America, Oceania, North America,...","Sub-Saharan Africa, Caribbean Islands, South A...","Angola, Argentina, Australia, Bahamas, Banglad...","Chile, China, Colombia, Comoros, Costa Rica, C...","Atlantic Ocean, Pacific Ocean",NaN,"Greenland, Kamchatka",NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Natatorial, Viviparous, Co...",Migrating,NaN,NaN,"Carnivore,,Piscivores",Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN)
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,"Diurnal,Carnivore,Aquatic,Precocial,Cosmopolit...","Africa, Oceania, Antarctica, North America, So...","North Africa, Caribbean Islands, South Asia, C...","Algeria, Antigua and Barbuda, Argentina, Austr...","Brunei, Cambodia, Cameroon, Canada, Cape Verde...","Arctic Ocean, Atlantic Ocean, Pacific Ocean",NaN,"Newfoundland, Hawaii, Greenland",NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]","pod, gam, herd, school, mod","Aquatic, Precocial, Cosmopolitan, Natatorial, ...",Partial Migrant,NaN,NaN,Carnivore,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,Yellow-billed cacique,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Amblycercus,Amblycercus holosericeus,NaN,NaN,NaN,56.7-70.9 g,NaN,21.6-25.4 cm,"Diurnal,Omnivore,Zoochory,Terrestrial,Monogamy...","South America, North America",NaN,"Belize, Costa Rica, El Salvador, Guatemala, Ho...",NaN,"Colombia, Peru, Venezuela",NaN,NaN,NaN,NaN,NaN,[Forest],[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC)
3233,Saint Lucia oriole,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Icterus,Icterus laudabilis,NaN,NaN,NaN,36.9 g,NaN,20-22 cm,"Diurnal,Herbivore,Frugivore,Nectarivore,Arbore...",North America,NaN,Saint Lucia,NaN,Neotropical,NaN,NaN,NaN,NaN,NaN,"[Agricultural, Anthropogenic biome, Forest, Mo...",[Tropical],NaN,"Arboreal, Zoochory, Island endemic, Terrestrial,",Not a migrant,NaN,,"Herbivore,,Frugivore,,Nectarivore",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Endangered (EN)
3234,Swynnerton's robin,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Muscicapidae,Swynnertonia,Swynnertonia swynnertoni,NaN,NaN,NaN,NaN,NaN,12-13 cm,"Diurnal,Carnivore,Insectivores,Terrestrial,Not...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"[Forest, Mountains]",[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Vulnerable (VU)
3235,Ochre-bellied flycatcher,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Tyrannidae,Mionectes,Mionectes oleagineus,NaN,NaN,NaN,13 g,NaN,NaN,"Terrestrial,Not a migrant,starts with","South America, North America",NaN,"Trinidad and Tobago, Belize, Costa Rica, El Sa...","Bolivia, Brazil, Colombia, Guyana, Peru, Surin...",French Guiana,NaN,NaN,NaN,NaN,NaN,"[Forest, Rainforest, Grassland, Freshwater, An...",[],NaN,"Terrestrial,",Not a migrant,NaN,Your browser does not support the audio element.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stable,Least concern (LC)
3236,Magellanic diving petrel,Animalia,Chordata,NaN,Aves,Procellariiformes,NaN,Procellariidae,Pelecanoides,Pelecanoides magellani,NaN,NaN,NaN,145-174 g,NaN,19 cm,"Diurnal,Nocturnal,Carnivore,Piscivores,Terrest...",South America,NaN,"Chile, Argentina",Falkland Islands,Neotropical,NaN,"Atlantic Ocean, Pacific Ocean",NaN,NaN,NaN,"[Coastal, Neritic zone, Oceanic pelagic zone, ...",[Temperate],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC)

Sau khi split dữ liệu tăng thêm 9 cột

Lúc này ta tính lại missing_ratio xem các cột sau khi split như thế nào nhé

In [23]:
cat_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in df_split_animals_info.columns:
    if df_split_animals_info[i].dtype not in [float, int]:
        cat_col_info_df[i] = col_info(i, df_split_animals_info)

cat_col_info_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Attributes,Continents,Subcontinents,Countries,Regions,Biogeographical realms,Wwf biomes,Oceans,Introduced countries,Seas,Islands,Biome,Climate,Group name,Lifestyle,Seasonal behavior,Predators,Bird's call,Diet,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status
missing_ratio,0.0,0.0,1.0,32.7,0.0,0.0,76.1,0.0,0.2,0.0,44.4,42.9,81.6,11.2,89.7,9.0,0.0,16.8,63.0,15.8,76.7,17.7,46.1,94.7,94.4,99.3,96.4,0.0,0.0,53.0,23.0,25.8,99.9,75.2,20.2,40.7,50.0,52.4,23.7,43.6,65.3,65.3,43.2,76.7,10.4,10.4
num_values,3237,24,2,2,9,80,15,387,1622,3218,652,603,138,2255,252,2122,2964,205,246,1536,558,813,418,80,161,11,71,1968,50,239,1466,49,2,2,302,24,662,761,684,584,34,39,85,340,4,7
value,Aardvark 1 Aardwolf ...,African Wild Ass 1 American Crow ...,Chordata 3135 Mollusca 69 dtype: int64,Animalia 31 Vertebrata 2148 dtype: i...,Amphibia 79 Animalia 2 Aves ...,Accipitriformes 67 Afrosoricida 25 An...,Alcedini 9 Caniformia 158 ...,Abrocomidae 1 Accipitridae 60 Acro...,Abrawayaomys 1 Abrocoma 1 Acan...,Abrawayaomys ruschii 1 Abrocoma cin...,"0.45-1 M 1 1 Mln 2 1,000 ...",1 yr 2 1-10 yrs 2 1-12.5 yrs...,0.24 km/h 1 0.26 km/h ...,0-0 kg 3 0.010-0.796 g 1 0.02-2...,0.5 m 1 0.7-1.3 m 1 0.75-1 m ...,0.5 m 2 0.5-1.8 m 1 0.6-2.43 m ...,"Algivore,Detritivore,Herbivore,Fossorial,Polyg...",Africa ...,"Angola, Benin, Botswana, Burkina Faso, Burundi...",...,...,...,...,"Alaska, Newfoundland I ...",Afghanistan ...,"Arctic Ocean, Atlantic Ocean, Pacific Ocean ...","Anguilla, Aruba, Bermuda, Bonaire, Sint Eusta...",[] ...,[] 3...,"""bind"", contradiction, fling, hill, ""time-step...",...,...,Arctic Wolf 1 Common Ringtail Po...,...,"Algivore,,Detritivore,,Herbivore ...",22 days 1 229 days ...,26-35 days ...,0 to 0.01 months 1 1 ...,0 to 1 2 0 to 2 ...,&gt;2 weeks 1 0 days ...,angeline 1 bitch 1...,billy 2 boar 8...,"Fawn, twins 1 Hatchling 1 In...",1 month 13 1-3 months 1 1.5 months...,Decreasing 1303 Increasing 294 Stable ...,Critically endangered (CR) 130 Data defici...

## Tiếp tục tiền xử lý dữ liệu nhé

Tại đây ta sẽ tách các cột có thuộc tính cách nhau bằng dấu phẩy thành 1 list

Luu vào "element" là tên các cột có các thuộc tính phân tách bằng dấu phẩy

Các cột sau khi xử lý sẽ được lưu vào biến "splits"

In [24]:
element = np.array(['Attributes', 'Continents', 'Subcontinents', 'Countries', 'Regions', 'Wwf biomes', 'Group name', 'Diet', 'Biogeographical realms', 'Lifestyle', 'Oceans'])

splits = [df_split_animals_info[col].str.split(pat = ',', expand = False) for col in element]
splits = pd.DataFrame(splits).T
# print(splits.shape)
# print(splits.head())

Sau khi tách xong ta tiến hành ghép 2 dataframe lại thành "data_df"

In [25]:
df_split_animals_info.drop(element, axis=1, inplace=True)
data_df = pd.concat([df_split_animals_info, splits], axis = 1)
# data_df = data_df.drop(columns = data_df.columns[0], axis = 1)
data_df
# df_split_animals_info

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Introduced countries,Seas,Islands,Biome,Climate,Seasonal behavior,Predators,Bird's call,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Oceans
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]",Not a migrant,NaN,NaN,Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC),"[Nocturnal, Carnivore, Scavenger, Terrestrial,...","[Asia, Europe, North America, Africa]","[South Asia, Western Asia, Southeast Asia, ...","[Albania, Armenia, Azerbaijan, Belarus, Bh...","[Czech Republic, Estonia, Finland, France, ...","[Nearctic, Palearctic, Indomalayan, Afrotro...","[pack, route, rout]","[Carnivore, , Scavenger]",[Greenland],"[Terrestrial, Cursorial, Altricial, Pack hu...",NaN
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",Not a migrant,NaN,NaN,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN),"[Nocturnal, Carnivore, Cursorial, Terrestrial,...",[Asia],"[South Asia, Southeast Asia, East Asia]","[Bangladesh, Bhutan, China, India, Indon...",[Thailand],"[Palearctic, Indomalayan]",NaN,[Carnivore],"[Tibet, Yunnan]","[Cursorial, Terrestrial, Ambush predator, A...",NaN
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","Hibernating, Migrating",NaN,NaN,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC),"[Crepuscular, Omnivore, Terrestrial, Altricial...","[Asia, Europe, North America]","[South Asia, Western Asia, East Asia, Centr...","[Albania, Armenia, Austria, Azerbaijan, Be...",NaN,"[Nearctic, Palearctic, Indomalayan]","[sloth, sleuth]",[Omnivore],"[Estonia, Finland, France, Georgia, Greece...","[Terrestrial, Altricial, Nomadic, Territori...",NaN
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]",Migrating,NaN,NaN,Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN),"[Carnivore, Piscivores, Aquatic, Precocial, Na...","[Africa, South America, Oceania, North Amer...","[Sub-Saharan Africa, Caribbean Islands, Sout...","[Angola, Argentina, Australia, Bahamas, Ba...","[Chile, China, Colombia, Comoros, Costa Ri...",NaN,"[pod, gam, herd, school, mod]","[Carnivore, , Piscivores]","[Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Natatorial, Viviparous...","[Greenland, Kamchatka]"
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]",Partial Migrant,NaN,NaN,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN,"[Diurnal, Carnivore, Aquatic, Precocial, Cosmo...","[Africa, Oceania, Antarctica, North America...","[North Africa, Caribbean Islands, South Asia...","[Algeria, Antigua and Barbuda, Argentina, A...","[Brunei, Cambodia, Cameroon, Canada, Cape ...",NaN,"[pod, gam, herd, school, mod]",[Carnivore],"[Arctic Ocean, Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Cosmopolitan, Natatori...","[Newfoundland, Hawaii, Greenland]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,Yellow-billed cacique,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Amblycercus,Amblycercus holosericeus,NaN,NaN,NaN,56.7-70.9 g,NaN,21.6-25.4 cm,NaN,NaN,NaN,[Forest],[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Omnivore, Zoochory, Terrestrial, Mon...","[South America, North America]",NaN,"[Belize, Costa Rica, El Salvador, Guatemala...",NaN,NaN,NaN,NaN,"[Colombia, Peru, Venezuela]",NaN,NaN
3233,Saint Lucia oriole,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Icterus,Icterus laudabilis,NaN,NaN,NaN,36.9 g,NaN,20-22 cm,NaN,NaN,NaN,"[Agricultural, Anthropogenic biome, Forest, Mo...",[Tropical],Not a migrant,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Endangered (EN),"[Diurnal, Herbivore, Frugivore, Nectarivore, A...",[North America],NaN,[Saint Lucia],NaN,NaN,NaN,"[Herbivore, , Frugivore, , Nectarivore]",[Neotropical],"[Arboreal, Zoochory, Island endemic, Terres...",NaN
3234,Swynnerton's robin,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Muscicapidae,Swynnertonia,Swynnertonia swynnertoni,NaN,NaN,NaN,NaN,NaN,12-13 cm,NaN,NaN,NaN,"[Forest, Mountains]",[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Vulnerable (VU),"[Diurnal, Carnivore, Insectivores, Terrestrial...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3235,Ochre-bellied flycatcher,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Tyrannidae,Mionectes,Mionectes oleagineus,NaN,NaN,NaN,13 g,NaN,NaN,NaN,NaN,NaN,"[Forest, Rainforest, Grassland, Freshwater, An...",[],Not a migrant,NaN,Your browser does not support the audio element.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stable,Least concern (LC),"[Terrestrial, Not a migrant, starts with]","[South America, North America]",NaN,"[Trinidad and Tobago, Belize, Costa Rica, E...","[Bolivia, Brazil, Colombia, Guyana, Peru, ...",NaN,NaN,NaN,[French Guiana],"[Terrestrial, ]",NaN
3236,Magellanic diving petrel,Animalia,Chordata,NaN,Aves,Procellariiformes,NaN,Procellariidae,Pelecanoides,Pelecanoides magellani,NaN,NaN,NaN,145-174 g,NaN,19 cm,NaN,NaN,NaN,"[Coastal, Neritic zone, Oceanic pelagic zone, ...",[Temperate],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Nocturnal, Carnivore, Piscivores, Te...",[South America],NaN,"[Chile, Argentina]",[Falkland Islands],NaN,NaN,NaN,[Neotropical],NaN,"[Atlantic Ocean, Pacific Ocean]"

Xử lý tại các cột list, những giá trị nan sẽ được thay thế thành một list rỗng []

In [26]:
data_df[element] = data_df[element].fillna(data_df.notna().applymap(lambda x: x or []))
# data_df = data_df.drop(columns = data_df.columns[0], axis = 1)
data_df

,Name,Kingdom,Phylum,Subphylum,Class,Order,Suborder,Family,Genus,Species,Population size,Life span,Top speed,Weight,Height,Length,Introduced countries,Seas,Islands,Biome,Climate,Seasonal behavior,Predators,Bird's call,Mating behavior,Reproduction season,Pregnancy duration,Baby carrying,Independent age,Female name,Male name,Baby name,Incubation period,Population trend,Population status,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Oceans
0,Grey Wolf,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Canidae,Canis,Canis lupus,"400,000",10-20 yrs,75 km/h,16-60 kg,80-85 cm,105-160 cm,NaN,NaN,NaN,"[Wetlands , Shrubland, Forest, Mountains, Anth...","[Temperate, Cold, Polar, Tropical]",Not a migrant,NaN,NaN,Monogamy,January-April,60-63 days,1-14 pups,45 days,bitch,dog,"pup, whelp",NaN,Stable,Least concern (LC),"[Nocturnal, Carnivore, Scavenger, Terrestrial,...","[Asia, Europe, North America, Africa]","[South Asia, Western Asia, Southeast Asia, ...","[Albania, Armenia, Azerbaijan, Belarus, Bh...","[Czech Republic, Estonia, Finland, France, ...","[Nearctic, Palearctic, Indomalayan, Afrotro...","[pack, route, rout]","[Carnivore, , Scavenger]",[Greenland],"[Terrestrial, Cursorial, Altricial, Pack hu...",[]
1,Tiger,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Feliformia,Felidae,Panthera,Panthera tigris,"2,154-3,159",10-15 yrs,96 km/h,65-306 kg,NaN,200-390 cm,NaN,NaN,NaN,"[Forest, Rainforest, Montane forest, Riparian,...","[Tropical, Temperate]",Not a migrant,NaN,NaN,Polygyny,November-April,103 days,1-7 cubs,18 mos-3 yrs,NaN,NaN,cub,NaN,Decreasing,Endangered (EN),"[Nocturnal, Carnivore, Cursorial, Terrestrial,...",[Asia],"[South Asia, Southeast Asia, East Asia]","[Bangladesh, Bhutan, China, India, Indon...",[Thailand],"[Palearctic, Indomalayan]",[],[Carnivore],"[Tibet, Yunnan]","[Cursorial, Terrestrial, Ambush predator, A...",[]
2,Brown Bear,Animalia,Chordata,Vertebrata,Mammalia,Carnivora,Caniformia,Ursidae,Ursus,Ursus arctos,"200,000",20-50 yrs,56 km/h,100-635 kg,70-153 cm,1.4-2.8 m,NaN,NaN,NaN,"[Forest, Woodland]","[Temperate, Cold, Polar]","Hibernating, Migrating",NaN,NaN,"Polygynandry,",May-July,8 weeks,1-4 cubs,2-4 years,sow,boar,cub,NaN,Stable,Least concern (LC),"[Crepuscular, Omnivore, Terrestrial, Altricial...","[Asia, Europe, North America]","[South Asia, Western Asia, East Asia, Centr...","[Albania, Armenia, Austria, Azerbaijan, Be...",[],"[Nearctic, Palearctic, Indomalayan]","[sloth, sleuth]",[Omnivore],"[Estonia, Finland, France, Georgia, Greece...","[Terrestrial, Altricial, Nomadic, Territori...",[]
3,Blue Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Balaenopteridae,Balaenoptera,Balaenoptera musculus,10-25 Thou,80-90 yrs,20 km/h,100-160 t,NaN,25-30 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone]","[Tropical, Temperate, Cold, Polar]",Migrating,NaN,NaN,Monogamy,winter or early spring,1 year,1 calf,8 months,cow,bull,calf,NaN,Increasing,Endangered (EN),"[Carnivore, Piscivores, Aquatic, Precocial, Na...","[Africa, South America, Oceania, North Amer...","[Sub-Saharan Africa, Caribbean Islands, Sout...","[Angola, Argentina, Australia, Bahamas, Ba...","[Chile, China, Colombia, Comoros, Costa Ri...",[],"[pod, gam, herd, school, mod]","[Carnivore, , Piscivores]","[Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Natatorial, Viviparous...","[Greenland, Kamchatka]"
4,Killer Whale,Animalia,Chordata,Vertebrata,Mammalia,Artiodactyla,NaN,Delphinidae,Orcinus,Orcinus orca,"50,000",30-100 yrs,45 km/h,3-6 t,NaN,6-9 m,NaN,NaN,NaN,"[Oceanic pelagic zone, Marine, Neritic zone, E...","[Tropical, Temperate, Cold, Polar]",Partial Migrant,NaN,NaN,Polygynandry,"year-round, usually in summer",15-18 months,1 calf,2 years,cow,bull,calf,NaN,NaN,NaN,"[Diurnal, Carnivore, Aquatic, Precocial, Cosmo...","[Africa, Oceania, Antarctica, North America...","[North Africa, Caribbean Islands, South Asia...","[Algeria, Antigua and Barbuda, Argentina, A...","[Brunei, Cambodia, Cameroon, Canada, Cape ...",[],"[pod, gam, herd, school, mod]",[Carnivore],"[Arctic Ocean, Atlantic Ocean, Pacific Ocean]","[Aquatic, Precocial, Cosmopolitan, Natatori...","[Newfoundland, Hawaii, Greenland]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3232,Yellow-billed cacique,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Amblycercus,Amblycercus holosericeus,NaN,NaN,NaN,56.7-70.9 g,NaN,21.6-25.4 cm,NaN,NaN,NaN,[Forest],[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Omnivore, Zoochory, Terrestrial, Mon...","[South America, North America]",[],"[Belize, Costa Rica, El Salvador, Guatemala...",[],[],[],[],"[Colombia, Peru, Venezuela]",[],[]
3233,Saint Lucia oriole,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Icteridae,Icterus,Icterus laudabilis,NaN,NaN,NaN,36.9 g,NaN,20-22 cm,NaN,NaN,NaN,"[Agricultural, Anthropogenic biome, Forest, Mo...",[Tropical],Not a migrant,NaN,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Endangered (EN),"[Diurnal, Herbivore, Frugivore, Nectarivore, A...",[North America],[],[Saint Lucia],[],[],[],"[Herbivore, , Frugivore, , Nectarivore]",[Neotropical],"[Arboreal, Zoochory, Island endemic, Terres...",[]
3234,Swynnerton's robin,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Muscicapidae,Swynnertonia,Swynnertonia swynnertoni,NaN,NaN,NaN,NaN,NaN,12-13 cm,NaN,NaN,NaN,"[Forest, Mountains]",[Tropical],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Vulnerable (VU),"[Diurnal, Carnivore, Insectivores, Terrestrial...",[],[],[],[],[],[],[],[],[],[]
3235,Ochre-bellied flycatcher,Animalia,Chordata,NaN,Aves,Passeriformes,NaN,Tyrannidae,Mionectes,Mionectes oleagineus,NaN,NaN,NaN,13 g,NaN,NaN,NaN,NaN,NaN,"[Forest, Rainforest, Grassland, Freshwater, An...",[],Not a migrant,NaN,Your browser does not support the audio element.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stable,Least concern (LC),"[Terrestrial, Not a migrant, starts with]","[South America, North America]",[],"[Trinidad and Tobago, Belize, Costa Rica, E...","[Bolivia, Brazil, Colombia, Guyana, Peru, ...",[],[],[],[French Guiana],"[Terrestrial, ]",[]
3236,Magellanic diving petrel,Animalia,Chordata,NaN,Aves,Procellariiformes,NaN,Procellariidae,Pelecanoides,Pelecanoides magellani,NaN,NaN,NaN,145-174 g,NaN,19 cm,NaN,NaN,NaN,"[Coastal, Neritic zone, Oceanic pelagic zone, ...",[Temperate],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Decreasing,Least concern (LC),"[Diurnal, Nocturnal, Carnivore, Piscivores, Te...",[South America],[],"[Chile, Argentina]",[Falkland Islands],[],[],[],[Neotropical],[],"[Atlantic Ocean, Pacific Ocean]"

## Thống kê các chỉ số cho các cột có kiểu dữ liệu là list

In [27]:
def stat_list_col(col, array):
    temp = pd.DataFrame(array[col])
    temp = temp.dropna()
    temp = np.array(temp[col])
    data = []
    # missing_ratio
    data.append(round((100 - (len(temp) / len(array[col]) * 100)), 1))
    # num_values
    temp = np.hstack(temp)
    temp = list(map(str.strip, temp)) # Xử lý các dấu cách đầu và cuối mỗi chuỗi
    temp = np.unique(temp, return_counts=True)
    data.append(len(temp[0]))
    # value
    temp = pd.Series(data = temp[1], index = temp[0])
    data.append(temp)
    # num_values
    return data

#     total = data_df[col].tolist()
#     total = np.hstack(total)
#     value, times = np.unique(total, return_counts = True)

In [28]:
list_col_info_df = pd.DataFrame(index = ['missing_ratio', 'num_values', 'value'])
for i in data_df:
    if type(data_df[i][0]) == list:
        list_col_info_df[i] = stat_list_col(i, data_df)
list_col_info_df

,Biome,Climate,Attributes,Continents,Subcontinents,Countries,Regions,Wwf biomes,Group name,Diet,Biogeographical realms,Lifestyle,Oceans
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,43,6,139,76,89,251,394,249,402,30,391,51,253
value,Abyssal zone 4 Agricultural ...,Arid 304 Cold 309 Libya ...,Aestivation 71 Algivore ...,3 Africa ...,12 Afghanistan ...,884 Afghanistan 66 Af...,65 Acre 2 Afghanis...,...,"1 ""bind"" 1 ""littl...",2941 Algivore 16 ...,3...,1784 Aesti...,10 Afghanistan ...

### Lưu dữ liệu đã tiền xử lý vào file 'animals_split_info.csv' để tiếp tục sử dụng trong các phần sau

In [29]:
data_df.to_csv('animals_split_info.csv')